body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
h2 {
  margin: 0;
}

div.row {
  margin: 1;
}

  .header {
    background-color: #202a2c;
    color: #fff;
    padding: 20px;
    padding-left: 20;
    height: 200px;
    text-align: center;
  }

  .day-header {
    background-color: #202a2c;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }

  #cityInput {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
  }

  .btn {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;

  }

  /* for the locations column */
  .column.locations {
    flex-basis: 25%;
    height: 800px;
    padding: 20px;
    box-sizing: border-box;
  }
  
/* for the  city that was selected column */
  .column.forecast {
  flex-basis: 75%;
  height: 800px;
  padding: 10px;
  box-sizing: border-box;
  }

  /* for the forecast column */
  .column.forecast {
    flex-basis: 75%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  p.alert {
    color: crimson;
  }

  .locations {
    background-color: #f2f2f2;
  }
  
  .forecast {
    background-color: #b6c7d4;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 equal-width columns */
    grid-gap: 25px; /* Adjust the gap between columns if desired */
    margin-bottom: 30px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  
